{% extends "base.html" %}
{% block title %} IPL {% endblock %}
{% block content %}


<!-- ipl -->
<div class="container-fluid bg-dark">
    <div class="container">
        <div class="row text-center text-dark">
            <h1 class="my-5 bg-warning">
                <b> CRYPTOCURRENCY DASHBOARD !</b>
            </h1>
        </div>
    </div>
    <div class="row fs-3">
        <p class="lead text-center text-light"><b class="text-primary">A cryptocurrency is a digital currency,</b> which is an alternative form of payment created using encryption algorithms. The use of encryption technologies means that cryptocurrencies function both as a currency and as a virtual accounting system. To use cryptocurrencies, you need a cryptocurrency wallet. These wallets can be software that is a cloud-based service or is stored on your computer or on your mobile device. The wallets are the tool through which you store your encryption keys that confirm your identity and link to your cryptocurrency. </p>
    </div>
    <div class="row mt-5">

        <DIV class="d-flex justify-content-center">
            <iframe title="bitcoin powerbi" width="1140" height="541.25" src="https://app.powerbi.com/view?r=eyJrIjoiZmU1ZjIyZWItYTlmMy00OTgwLWFkYTMtMGZjZWM3YjIxMWJmIiwidCI6ImQwYjgzZjVkLWVhZWMtNDNmNS05YjFkLWRjNzhjZDdiN2RkYSIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
            

        </DIV>

    </div><br><br>
</div>


<!-- manually added css -->
<style>
    .para {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
</style>



{% endblock%}

<!-- <iframe title="bitcoin powerbi" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=95de5fea-61df-4c22-b2a7-9fb634db6e0e&autoAuth=true&ctid=d0b83f5d-eaec-43f5-9b1d-dc78cd7b7dda" frameborder="0" allowFullScreen="true"></iframe> -->