{% extends "base.html" %}
{% block title %} IPL {% endblock %}
{% block content %}


<!-- ipl -->
<div class="container-fluid bg-dark">
    <div class="container">
        <div class="row text-center text-dark">
            <h1 class="my-5 bg-warning">
                <b>IPL 2021 DASHBOARD !</b>
            </h1>
        </div>
    </div>
    <div class="row fs-3">
        <p class="lead text-center text-light">The <b class="text-primary">Indian Premier League</b> (IPL) is a
            professional men's Twenty20 cricket
            league,
            contested by ten teams
            based out of ten Indian cities.[1] The league was founded by the <b class="text-primary">Board of Control
                for
                Cricket in India</b>
            (BCCI) in 2007. It is usually held between March and May of every year and has an exclusive window in the
            ICC
            Future Tours Programme.In this Dashboard you can see the analysis of IPL 2021 happen during the <b
                class="text-primary">corona
                virus</b> pandamic.In this dashboard you can see all the teams with with their performance also which
            team
            won the match and which one lose.Also you can check 1st inning and 2nd inning result with the player
            performance. for this dashboard i have used <b class="text-primary">Power BI</b> alot.Power BI is basically
            a
            data visualization tool used for visualization of data to create amazing dashboard's by using different
            graphs
            and
            charts. </p>
    </div>
    <div class="row mt-5">

        <DIV class="d-flex justify-content-center">
            <iframe title="ipl dashboard" width="1440" height="541.25"
                src="https://app.powerbi.com/view?r=eyJrIjoiNzVmZTRkMjQtMGQzZC00MWVmLWEyYjctNjc1NjE0OTZjZWZhIiwidCI6ImQwYjgzZjVkLWVhZWMtNDNmNS05YjFkLWRjNzhjZDdiN2RkYSIsImMiOjEwfQ%3D%3D"
                frameborder="0" allowFullScreen="true"></iframe>

        </DIV>

    </div><br><br>
</div>


<!-- manually added css -->
<style>
    .para {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
</style>



{% endblock%}