{% extends "base.html" %}
{% block title %} SALES {% endblock %}
{% block content %}
<div class="container-fluid bg-dark">
    <div class="container">
        <div class="row text-center text-dark">
            <h1 class="my-5 bg-warning">
                <b>SALES DASHBOARD !</b>
            </h1>
        </div>
    </div>
    <div class="row fs-3">
        <p class="lead text-center text-light">The <b class="text-primary">Sales is a term used to describe the activities that lead to the selling of goods or services.</b> Businesses have sales organizations that are broken up into different teams. And these sales teams are often determined based on the region they're selling to, the product or service they're selling, and the target customer. Companies staff entire departments with employees dedicated to selling their products and services. Salespeople reach out to contacts that might be interested in purchasing the product or service that their company is selling — prospects that demonstrate interest through actions like visiting the company website or interacting with the company on social media.</p>
    </div>
    <div class="row mt-2">

        <DIV class="d-flex justify-content-center">
            <iframe title="adesh new" width="1440" height="541.25"
                src="https://app.powerbi.com/view?r=eyJrIjoiNGQ4NjIyMjItNDVkMS00YzA2LThmODAtM2Q2OWE1NDBmMzk2IiwidCI6ImQwYjgzZjVkLWVhZWMtNDNmNS05YjFkLWRjNzhjZDdiN2RkYSIsImMiOjEwfQ%3D%3D"
                frameborder="0" allowFullScreen="true"></iframe>
        </DIV>

    </div><br><br>
</div>


<!-- manually added css -->
<style>
    .para {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
</style>

{% endblock%}